header{
    text-align: center;
	margin: 2% 0% 2% 0%;
}

main{
    display: flex;
	justify-content: space-around;
}

aside{
    width:25%;
    height: fit-content;
	justify-content: space-around;
	margin: 0% 3% 0% 3%;
}

form{
    text-align: center;
    font-size: larger;
    padding-top: 10px ;
    padding-bottom: 30px;
	justify-content: space-between;
}

input{
    width: 100%;
    text-align: center;
}

h2{
	text-align: left
}

section#Matches{
	flex-wrap: wrap;
}

#SearchBox{
	margin-bottom: 0px;
}

#PrevSearches{
    padding-bottom: 10px;
}

#PrevSearches p{
    padding-left: 10%;
}

#Matches{
	display: none;
}
#Matches.on{
    display: flex;
	width: 70vw;
}

.Match{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
	width: 90%;
}
.team-container{
	display: flex;
	width:90%;
	justify-content: center;
}
.stat-name{
	margin: 0px 30px;
}
.Match.notification:first-child{
	margin-bottom: 0px;
}
.Match.notification:not(:first-child){
	margin-top: 1.5rem;
	margin-bottom: 0px;
}
.Verses{
    text-align: center;
}
.Team1{
	width:40%;
}
.Team2{
    text-align: right;
	width:40%;
}
.Team2>h2{
	text-align: right;
}

.FontFamily{
	font-family: 'Poppins', sans-serif;
}

.FontThin{
	font-weight: 100;
}

.FontReg{
	font-weight: 400;	
}

.FontRegItal{
	font-weight: 400;
	font-style: italic;
}

.FontMed{
	font-weight: 500;	
}

.FontBold{
	font-weight: 700;	
}
/* new rules added start */
#footer{ 
	position: fixed;
	bottom: 0px;
	width:100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgb(205, 203, 201);
	padding: 5px;
}
#footer h4{
	padding: 5px;
}
#footer ul{
	display: flex; 
	flex-direction: row; 
	justify-content: center;
}
#footer ul li{
	padding :5px; 
	margin: 5px;
	border-radius: 4px; 
	background-color: antiquewhite;
}
/* new rules added end  */
@media screen and (max-width: 1023px){
main{
	flex-direction: column;
	align-items: center;
}
aside{
	width:85vw
}
form{
    text-align: center;
    font-size: larger;
    padding-top: 10px ;
    padding-bottom: 10px;
	justify-content: space-between;
}
#PrevSearches{
	display: flex;
}
	
section#Matches{
	justify-content: center;
	width:90vw;
}
	
.SearchBoxTouch{
  	width: 95%;
	justify-content: flex-start;
	display: flex;
}

.SearchBoxTouchResults{
 
   	flex-direction: column;
	justify-content: space-between;
	width: 70%;
	padding: 20px;
}

.SearchBoxTouchResults p{
	text-align: center;	
	}

.Match{
    width: 95%;
}
<<<<<<< HEAD
}

#prevSearchesTitle {
	margin-bottom: 20px;
	text-align: center;
}

=======
/* new rule added */
footer{
	flex-direction: column;
}
}
>>>>>>> 0f872644fc8b8e2ad3b0f3aecbd43a218f3b5ffa
