header{
    text-align: center;
	margin: 2% 0% 2% 0%;
}

main{
    display: flex;
	justify-content: space-around;
}

aside{
    width:25%;
    height: fit-content;
	justify-content: space-around;
	margin: 0% 3% 0% 3%;
}

form{
    text-align: center;
    font-size: larger;
    padding-top: 10px ;
    padding-bottom: 30px;
	justify-content: space-between;
}

input{
    width: 100%;
    text-align: center;
}

h2{
	text-align: left
}

section#Matches{
	flex-wrap: wrap;
}

#SearchBox{
	margin: 0% 0% 25% 0%;
}

#PrevSearches{
    padding-bottom: 10px;
}

#PrevSearches p{
    padding-left: 10%;
}

#Matches{
    display: flex;
}

.Match{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
	width: 90%;
}

.Verses{
    text-align: center;
}

.Team2{
    text-align: right;
}

.FontFamily{
	font-family: 'Poppins', sans-serif;
}

.FontThin{
	font-weight: 100;
}

.FontReg{
	font-weight: 400;	
}

.FontRegItal{
	font-weight: 400;
	font-style: italic;
}

.FontMed{
	font-weight: 500;	
}

.FontBold{
	font-weight: 700;	
}

@media screen and (max-width: 1023px){

form{
    
    text-align: center;
    font-size: larger;
    padding-top: 10px ;
    padding-bottom: 10px;
	justify-content: space-between;
}
	
section#Matches{
	margin: 5% 5% 5% 5%;
	justify-content: center;
}
	
.SearchBoxTouch{
  	width: 95%;
	justify-content: flex-start;
	display: flex;
}

.SearchBoxTouchResults{
 
   	flex-direction: column;
	justify-content: space-between;
	width: 70%;
	padding: 20px;
}

.SearchBoxTouchResults p{
	text-align: center;	
	}

.Match{
    width: 95%;
}

}